body{
    background:rgb(255, 248, 232);
}
ul li{
    list-style-type:none;
    line-height:22px;
}
.wrap{
    display:flex;
}
/*start of slideout nav*/

/*end of slide out nav*/
.toggle{
    line-height:70px;
    background:rgb(255, 248, 232);
    font-size:30px;
    margin-right: 10px;
   
}
.header{
    background:rgb(255, 248, 232);
    height:70px;
    display:flex;
    justify-content:space-between;
    font-family:'Times New Roman';
    color:rgb(234, 92, 9);
    
}
.title{
    background:rgb(255, 248, 232);
    font-size:70px;
    line-height:70px;
    color:rgb(234, 92, 9);
    font-family:'Dancing Script', cursive;
}
.nav{
    background:rgb(255, 248, 232);
    display:none;
    line-height:70px;
    justify-content:space-between;
    width:400px;
    padding-right:20px;
    color:rgb(234, 92, 9);
   
} 
 a{
     color:rgb(234, 92, 9);
    text-decoration:none;
}
a:hover{
    color:orange;
    cursor: pointer;
}
.button{
    border:2px solid black;
    border-radius:5px;
    width:300px;
    font-size:30px;
    text-align:center;
    margin:auto;
    cursor:pointer;
}
.content-bottom{
    background:rgb(255, 248, 232);
    display:flex;
    justify-content:space-between;
    max-width:800px;
    margin:auto;
    flex-direction:column;
    color:rgb(234, 92, 9);
   
}
.hero{
    opacity:0.9;
}
.address{
    padding-top:70px;
    color:rgb(234, 92, 9);
    font-family:sans-serif;
    font-size:25px;
}
.icon{
   padding-top:90px; 
  
}
.map{
    padding-top:50px;
}
.products{
    display:flex;
    margin:auto;
    flex-direction:column;
    justify-content:space-between;
    max-width:800px;
    margin-top:20px;
}
.p1 p{
   
    padding-bottom:20px;
}
.p2 p{
   padding-bottom:20px;
}
.p3 p{
   
    padding-bottom:20px;
}
/*start of about page*/

.abouttext{
    font-size:17px;
    margin:10px 30px 0px 20px;
    font-family:'Times New Roman';
    
}
.aboutwrap{
    display:flex;
    flex-direction:column;
}
.flex-container{
    display:flex;
    width:auto;
    height:auto;
    justify-content:space-around;
}

.alphabet img{
    width:200px;
    height:200px;
    margin-bottom:10px;
    border-color: black;
    
   
}
/* start of drawer togle open/close*/
.drawer{
    position:absolute;
    background:black;
    z-index: 100;
    right:200px;
    bottom:0;
    top:0;
    left:0;
    display:none;
}
.drawerclose{
    left:200px;
    top:0;
    right:0;
    bottom:0;
    
    z-index:100;
    position:absolute;
    display:none;
}
.link{
    background:black;
    margin-left:30px;
    line-height:70px;
    justify-content:space-between;
   
    padding-right:20px;
    color:rgb(234, 92, 9);
}
.p1 img{
    width:100%;
}
.p2 img{
    width:100%;
}
/*end of open/close*/

/*start of image slider on product page*/
.mySlides {display:none;}
/*end of slider*/
@media(min-width:768px) {
    .toggle {
        display: none;
    }
    .nav{
        display:flex;
    }
    .content-bottom{
        display:flex;
        flex-direction:row;
    }
    .aboutwrap{
    
    flex-direction:row;
    }
    .products{
       flex-direction:row; 
    }
    .p1 img{
        width:300px;
        height:300px;
    }
    .p2 img{
        width:300px;
        height:300px;
    }
    }